<h1>Listing genomes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @genomes.each do |genome| %>
  <tr>
    <td><%= link_to 'Show', genome %></td>
    <td><%= link_to 'Edit', edit_genome_path(genome) %></td>
    <td><%= link_to 'Destroy', genome, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Genome', new_genome_path %>
