*{
	margin:0;
	padding:0;
	border:0;
	}

BODY {
	background:#e7e7e7;
	}
	
#container {

	margin:auto; 
	height: 700px;
	overflow: hidden;

}
	
#left {
	 width: 500px; 
	 height: 700px; 
	 float:left;

}

#right {
	 width; 500px; 
	 height: 700px; 
	 float:right;

}

.overlay {

	position: relative; 
	top:0; 
	left:0; 
	z-index:3; 
	height: 700px;
	width:500px; 
	background:#e7e7e7;

	}
	
 
 
.slide {
	position: relative; 
	left:0; 
	z-index:2; 
	height: 700px;
	top:-700px;
	width:500px; 
	background-image: url('slide.png');

	}
	
.canvas {

	display:none; 
	background: #FFFFFF; 
	position: relative; 
	height:700px; 
	width:500px; 
	top:-700px; 
	left:0; 
	z-index:1;
	display: none;

	}